p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#icon {
    display: block;
    margin: 0 auto;

    width: 30%;
}

.main {
    text-align: center;
    margin: 0 auto;

    position: relative;
    width: 20em;
}

.main > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main > .name {
    font-weight: bold;
    margin-bottom: 3px;
}

.main > .description {
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 2px;
    border: solid;
    border-width: 1px;
}

.expand {
    overflow: hidden;

    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.fa:hover {
    cursor: pointer;
}

@media all and (max-width: 340px) {
    .main {
        width: 100%;
    }
}
