* { 
    margin: 0; padding: 0px;
}

p, span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.p {
    margin-left: 1em;
}

.center {
    text-align: center;
}

#icon {
    display: block;
    margin: 0 auto;

    width: 30%;
}

body {
    margin: 5px 0px 5px 0px;
    display: flex;

    justify-content: center;
}

.main {
    width: 20em;
}

.main > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main > .name {
    font-weight: bold;
    margin-bottom: 3px;
}

.main > .description {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    padding: 4px;
    border: 1px solid #191817;
}

.expand {
    overflow-y: hidden;
    overflow-x: visible;

    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.social > a {
    color: #191817;    
}

.expand + .fa:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section {
    font-weight: 500;

    margin-top: 3px;
    margin-bottom: 0px;
}

.expand p {
    text-align: left;
}

.expand hr {
    height: 1px;
    margin-top: 3px;

    background-color: #191817;
    border: 0;
}

.project > .title {
    display: flex;
    justify-content: space-between;
}

.project > .title > .name {
    margin-top: 0px;
    margin-bottom: 2px;

    text-decoration: underline;
    font-weight: 500;

    width: 100%;
}

.project img {
    width: 99%;
    margin-top: 4px;
    margin-bottom: 3px;

    border: 1px solid #191817;
}

.project > .title > .links {
    margin-top: 5px;
    margin-right: 5px;
}

.project > .title > .links > a {
    margin: 1px 0px 1px 3px;

    text-decoration: none;
    background-color: #191817;
    color: #eee;

    padding: 1px 2px 1px 2px;
    border-radius: 3px;

    font-size: 0.5em;
}

.project > .title > .links > a.disabled {
    background-color: #eee;
    border: 1px solid #191817;
    color: #191817;

    cursor: default;
}

@media all and (max-width: 340px) {
    .main {
        width: 95%;
    }
}

iframe {
    display: none;
    border: 0;

    width: 100%;
}

iframe.active {
    display: block;
}
