p, span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.p {
    margin-left: 1em;
}

.center {
    text-align: center;
}

#icon {
    display: block;
    margin: 0 auto;

    width: 30%;
}

.main {
    margin: 0 auto;

    position: relative;
    width: 20em;
}

.main > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main > .name {
    font-weight: bold;
    margin-bottom: 3px;
}

.main > .description {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    padding: 4px;
    border: solid;
    border-width: 1px;
}

.expand {
    overflow: hidden;

    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.social > a {
    color: black;    
}

.expand + .fa:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section {
    font-weight: 500;

    margin-top: 3px;
    margin-bottom: 0px;
}

.expand p {
    text-align: left;
}

.expand hr {
    height: 1px;
    margin-top: 3px;

    background-color: black;
    border: 0;
}

.project > p {
    margin-top: 0px;
    margin-bottom: 2px;

    text-decoration: underline;
    font-weight: 500;

    width: 100%;
}

.project img {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 3px;

    border: solid;
    border-width: 1px;
}

@media all and (max-width: 340px) {
    .main {
        width: 100%;
    }
}
