<html>
    <head>
        <title>Home</title>
        <meta name="description" content="" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="/assets/js/main.js"></script>
    </head>
    <body>
        <div class="main">
            <img id="icon" src="/assets/images/icon-white.svg" />
            <p class="name">Kevin Zheng</p>
            <div class="social">
                <i class="fa fa-github-square"></i>
                <i class="fa fa-twitter-square"></i>
            </div>
            <p class="description">Hi, I am Kev, a 16 year old high school student. I enjoy learning about computer science and working on programming projects on my free time. Click the arrow below to check out some of my projects. </p>
            <div class="expand">
            </div>
            <i class="fa fa-caret-down"></i>
        </div>
    </body>
</html>
