<html>
    <head>
        <title>Kevin Zheng</title>
        <meta name="description" content="" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="/assets/js/main.js" async></script>
    </head>
    <body>
        <div class="main">
            <img id="icon" src="/assets/images/icon-white.svg" />
            <p class="name center">Kevin Zheng</p>
            <div class="social center">
                <a href="https://github.com/furryfaust"><i class="fa fa-github-square"></i></a>
                <a href="https://twitter.com/furryfaust"><i class="fa fa-twitter-square"></i></a>
                <a href="mailto:kevtehpro35@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="description"><span class="p">Hello. I am Kev, a 16 year old high school student. I enjoy learning about computer science and working on programming projects on my free time. Click the arrow below to check out some of my projects.</div>
            <div class="expand">
                <p class="section center">Projects</p>
                <hr />
                <div class="project" name="lyca">
                    <div class="title"><span class="name">Lyca (Go)</span><span class="links"><a class="disabled" href="#!">TRY</a><a href="https://github.com/furryfaust/lyca">SOURCE</a></span></div>
                    <div><span class="p">Lyca is the compiler for a programming language I&#39;m currently working on. It uses LLVM for the back end. This project is currently being worked on for educational purposes to learn compiler design.</span></div>
                    <img src="/assets/images/lyca.png" />
                </div>
                <div class="project" name="textelectronics">
                    <div class="title"><span class="name">Text Electronics (Go)</span><span class="links"><a class="disabled" href="#!">TRY</a><a href="https://github.com/furryfaust/textelectronics">SOURCE</a></span></div>
                    <div><span class="p">Text Electronics is a text parser allowing you to visually program digital electronics circuits in text files and simulate them. You can build using and gates, or gates, flip flops, and more. I wrote this while I was learning Golang.</span></div>
                    <img src="/assets/images/textelectronics.png" />
                </div>
                <hr />
                <div class="project" name="digitalwaveforms">
                    <div class="title"><span class="name">Digital Waveforms (HTML, CSS, JS)</span><span class="links"><a href="/waveform">TRY</a><a href="https://github.com/furryfaust/digital-waveform">SOURCE</a></span></div>
                    <span class="p">Digital Waveforms is a web application that generates digital waveform visualizations from binary sequences. It can also compare multiple binary sequences using boolean algebra. I wrote this while I was learning javascript.</span>
                    <img src="/assets/images/digitalwaveform.png" />
                </div>
                <hr />
                <div class="project" name="listuals">
                    <div class="title"><span class="name">Listuals (HTML, CSS, JS)</span><span class="links"><a href="/listuals">TRY</a><a href="https://github.com/furryfaust/listuals">SOURCE</a></span></div>
                    <span class="p">Listuals is a web application that generates a linked list diagram from a list notation input. I wrote this for a school project which you could make any website you want.</span>
                    <img src="/assets/images/listuals.png" />
                </div>
            </div>
            <div class="center">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
    </body>
</html>
