<html>
    <head>
        <title>Kevin Zheng</title>
        <meta name="description" content="" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="/assets/js/main.js"></script>
    </head>
    <body>
        <div class="main">
            <img id="icon" src="/assets/images/icon-white.svg" />
            <p class="name center">Kevin Zheng</p>
            <div class="social center">
                <a href="https://github.com/furryfaust"><i class="fa fa-github-square"></i></a>
                <a href="https://twitter.com/furryfaust"><i class="fa fa-twitter-square"></i></a>
                <a href="mailto:kevtehpro35@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="description"><span class="p">Hi I am Kev, a 16 year old high school student. I enjoy learning about computer science and working on programming projects on my free time. Click the arrow below to check out some of my projects.</div>
            <div class="expand">
                <p class="section center">Projects</p>
                <hr />
                <div class="project">
                    <p><span class="name">Text Electronics (Go)</span></p>
                    <span class="p">Text Electronics is a text parser allowing you to visually program digital electronics circuits in text files and simulate them. You can build using and gates, or gates, flip flops, and more. I wrote this while learning Golang.</span>
                    <img src="/assets/images/textelectronics.png" />
                </div>
            </div>
            <div class="center">
                <i class="fa fa-caret-down"></i>
            </div>
        </div>
    </body>
</html>
